<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="net.minecraftforge.fml.core.transformer.deobf">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ColonyRank" level="info"/>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
